table.typo3-TCEforms-selectIcons {
    border-collapse: separate;
}
table.typo3-TCEforms-selectIcons td {
    padding:2px;
}
table.typo3-TCEforms-selectIcons td a {
    padding: 5px;
    background-color: #fff;
    border: solid 1px #fff;
    border-radius: 2px;
    display: block;
    text-decoration: none;
}
table.typo3-TCEforms-selectIcons td a:hover {
    background-color: #efefef;
    border: solid 1px #c0c0c0;
    text-decoration: none;
    color:#FF8700;
}
table.typo3-TCEforms-selectIcons td.current a {
    border: solid 1px #FF8700;
    color:#FF8700;
}
div.dynamicIconSelector {
    display: none;
}

select.icon-select {
    font-family: inherit;
}
