{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace v=Tx_Vhs_ViewHelpers}
<f:if condition="{settings.aloha.enable}">
	{namespace a=Tx_Aloha_ViewHelpers}
</f:if>

<f:layout name="Content" />

<f:section name="Configuration">
	<flux:form
		 wizardTab="pxa-generic-content-templates"
		 id="1"
		 icon="{v:extension.path.resources(path: 'Icons/pxa.gif')}">

		<flux:field.input name="class" />
		<flux:field.userFunc name="bigTopIcon" userFunc="Pixelant\PxaGenericContent\UserFunction\DynamicIcons->renderField" default="" />

		<flux:field.input name="link">
			<flux:wizard.link />
		</flux:field.input>
		<flux:field.input name="linkText" />
	</flux:form>
</f:section>

<f:section name="Preview">
</f:section>

<f:section name="Main">
	<div class="elem1 {class}">
		<f:if condition="{bigTopIcon}">
			<span class="icons icon-{bigTopIcon}"></span>
		</f:if>
		<f:if condition="{record.header}">
			<f:cObject data="{record}" table="tt_content" typoscriptObjectPath="lib.stdheader" />
		</f:if>
		<f:if condition="{record.bodytext}">
			<f:if condition="{settings.aloha.enable}">
				<f:then>
					<p><a:editable table="tt_content" field="bodytext-plaintext" uid="{record.uid}" configuration="{settings.aloha.plaintextSpan}"><f:format.raw>{record.bodytext}</f:format.raw></a:editable></p>
				</f:then>
				<f:else>
					<f:format.raw><p>{record.bodytext}</p></f:format.raw>
				</f:else>
			</f:if>
		</f:if>
		<f:if condition="{link}">
			<v:link.typolink configuration="{parameter: link, ATagParams: 'class=\"btn btn-default\" title=\"{linkText}\"'}"><span><f:format.raw>{linkText}</f:format.raw></span></v:link.typolink>
		</f:if>
	</div>
</f:section>
