{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace v=Tx_Vhs_ViewHelpers}
{namespace pxa=Tx_PxaCore_ViewHelpers}
<f:if condition="{settings.aloha.enable}">
	{namespace a=Tx_Aloha_ViewHelpers}
</f:if>

<f:layout name="Content" />

<f:section name="Configuration">
	<flux:form
		 wizardTab="pxa-generic-content-templates"
		 id="2"
		 icon="{v:extension.path.resources(path: 'Icons/pxa.gif')}">

		<flux:field.input name="class" />
		<flux:field.input name="link">
			<flux:wizard.link />
		</flux:field.input>
		<flux:field.input name="linkText" />
		<flux:field.select name="linkMode" items="0,1,2" default="0" />
	</flux:form>
</f:section>

<f:section name="Preview">
</f:section>

<f:section name="Main">
	<div class="elem2 {class}">
		<f:if condition="{linkMode} == 2">
			<f:then>
				<v:link.typolink configuration="{parameter: link}"><f:render section="renderPuffContent" arguments="{_all}" /></v:link.typolink>
			</f:then>
			<f:else>
				<f:render section="renderPuffContent" arguments="{_all}" />
			</f:else>
		</f:if>
	</div>
</f:section>

<f:section name="renderPuffContent">
	<f:if condition="{record.image} > 0">
		<f:for each='<pxa:fal field="image" uid="{record.uid}" />' as="img" iteration="imgIteration">
			<f:if condition="{imgIteration.isFirst}">
				<f:if condition="{linkMode} == 1">
					<f:then>
						<f:if condition="{img.reference.link}">
							<f:then>
								<v:link.typolink configuration="{parameter: img.reference.link}"><f:render section="renderImage" arguments="{_all}" /></v:link.typolink>
							</f:then>
							<f:else>
								<f:if condition="{link}">
									<f:then>
										<v:link.typolink configuration="{parameter: link}"><f:render section="renderImage" arguments="{_all}" /></v:link.typolink>
									</f:then>
									<f:else>
										<f:render section="renderImage" arguments="{_all}" />
									</f:else>
								</f:if>
							</f:else>
						</f:if>
					</f:then>
					<f:else>
						<f:render section="renderImage" arguments="{_all}" />
					</f:else>
				</f:if>
			</f:if>
		</f:for>
	</f:if>
	<f:if condition="{record.header}">
		<f:cObject data="{record}" table="tt_content" typoscriptObjectPath="lib.stdheader" />
	</f:if>
	<f:if condition="{record.bodytext}">
		<f:if condition="{settings.aloha.enable}">
			<f:then>
				<p><a:editable table="tt_content" field="bodytext-plaintext" uid="{record.uid}" configuration="{settings.aloha.plaintextSpan}"><f:format.raw>{record.bodytext}</f:format.raw></a:editable></p>
			</f:then>
			<f:else>
				<f:format.raw><p>{record.bodytext}</p></f:format.raw>
			</f:else>
		</f:if>
	</f:if>
	<f:if condition="{link}">
		<f:if condition="{linkMode} < 2">
			<f:then>
				<v:link.typolink configuration="{parameter: link}"><f:format.raw>{linkText}</f:format.raw></v:link.typolink>
			</f:then>
			<f:else>
				<f:if condition="{linkText}">
					<span><f:format.raw>{linkText}</f:format.raw></span>
				</f:if>
			</f:else>
		</f:if>
	</f:if>
</f:section>

<f:section name="renderImage">
	<f:image
		src="{img.reference.uid}"
		class="img-responsive"
		alt="<f:if condition='{img.reference.alternative}'><f:then>{img.reference.alternative}</f:then><f:else>{img.original.alternative}</f:else></f:if>"
		title="<f:if condition='{img.reference.title}'><f:then>{img.reference.title}</f:then><f:else>{img.original.description}</f:else></f:if>"
		width="{record.imagewidth}"
		maxWidth="{settings.image.maxWidth}"
		treatIdAsReference="1"
	/>
</f:section>
