{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace v=Tx_Vhs_ViewHelpers}
<f:if condition="{settings.aloha.enable}">
	{namespace a=Tx_Aloha_ViewHelpers}
</f:if>

<f:layout name="Content" />

<f:section name="Configuration">
	<flux:form
		 wizardTab="pxa-generic-content-templates"
		 id="4"
		 icon="{v:extension.path.resources(path: 'Icons/pxa.gif')}">

		<flux:field.input name="class" />
	</flux:form>
</f:section>

<f:section name="Preview">
	<h4>Page Header</h4>
</f:section>

<f:section name="Main">
	<div class="subPageHeader {class}">
		<div class="container">
			<h3><v:page.info field="title" /></h3>
		</div>
	</div>
</f:section>
