{namespace v=Tx_Vhs_ViewHelpers}
{namespace flux=FluidTYPO3\Flux\ViewHelpers}

<f:layout name="Content" />

<div xmlns="http://www.w3.org/1999/xhtml"
	 xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
	 xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

<f:section name="Configuration">
	<flux:form
		 wizardTab="pxa-generic-content-layouts"
		 id="accordion"
		 icon="{v:extension.path.resources(path: 'Icons/pxa.gif')}">

		<f:comment><!-- Make sure record is saved before adding children --></f:comment>
		<f:if condition="{record.uid} > 0">
			<f:then>
				<flux:form.sheet name="children">
					<flux:form.section name="children">
						<flux:form.object name="child">
							<flux:field.input name="title" />
							<flux:field.checkbox name="active" />
						</flux:form.object>
					</flux:form.section>
				</flux:form.sheet>
			</f:then>
			<f:else>
				<flux:form.sheet name="saveFirst">
				</flux:form.sheet>
			</f:else>
		</f:if>

		<flux:grid>
			<f:for each="{children}" as="child" iteration="iteration">
				<flux:grid.row>
					<flux:grid.column name="{child.child.id}" label="{f:if(condition: child.child.title, then: child.child.title, else: 'Content, {iteration.cycle}')}" >
						<flux:form.content name="{child.child.id}" />
					</flux:grid.column>
				</flux:grid.row>
			</f:for>
		</flux:grid>
	</flux:form>
</f:section>

<f:section name="Preview">
	<flux:widget.grid />
</f:section>

<f:section name="Main">

	<v:var.set name="activeCount" value="0" />
	<f:for each="{children}" as="child" iteration="iteration">
		<f:if condition="{child.child.active}">
			<v:var.set name="activeCount" value="{v:math.sum(a:activeCount, b:1)}" />
		</f:if>
	</f:for>
	<div class="panel-group" id="accordion-{record.uid}" aria-multiselectable="{f:if(condition: '{child.child.active} == 1', then: 'true', else: 'false')}" role="tablist">
		<f:for each="{children}" as="child" iteration="iteration">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="accordion-toggle" role="button" data-toggle="collapse" {f:if(condition: '{activeCount} < 2', then: 'data-parent="#accordion-{record.uid}"', else: '')} href="#panel-{record.uid}-{iteration.index}" aria-expanded="{f:if(condition: '{child.child.active} == 1', then: 'true', else: 'false')}">
							<f:format.raw>{child.child.title}</f:format.raw>
						</a>
					</h4>
				</div>
				<div id="panel-{record.uid}-{iteration.index}" role="tabpanel" class="panel-collapse collapse {f:if(condition: '{child.child.active} == 1', then: 'in')}" aria-expanded="{f:if(condition: '{child.child.active} == 1', then: 'true', else: 'false')}">
					<div class="panel-body">
						<flux:content.render area="{child.child.id}" />
					</div>
				</div>
			</div>
		</f:for>
	</div>
</f:section>

</div>
