{namespace v=Tx_Vhs_ViewHelpers}
{namespace flux=FluidTYPO3\Flux\ViewHelpers}

<f:layout name="Content" />

<div xmlns="http://www.w3.org/1999/xhtml"
	 xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
	 xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

<f:section name="Configuration">
	<flux:form
		 wizardTab="pxa-generic-content-templates"
		 id="carousel"
		 icon="{v:extension.path.resources(path: 'Icons/pxa.gif')}">

		<flux:field.checkbox name="settings.carousel.quickselect" default="1" />
		<flux:field.input name="settings.carousel.interval" default="5000" eval="int,trim" />
		<flux:field.input name="settings.carousel.id" default="{v:random.string(length: 8)}" />
		<flux:field.checkbox name="settings.carousel.noHeaderOneOnFirstSlide" default="0" />
		<flux:field.checkbox name="settings.carousel.autostart" />
		<flux:field.checkbox name="settings.carousel.changeOrderOfHeaders" default="0" />
		<flux:field.checkbox name="settings.carousel.addContainerBeforeContent" default="0" />
		<flux:field.input name="settings.carousel.overrideContentWrapDivClass" default="" eval="trim" />

		<flux:grid>
			<f:for each="{elements}" as="element" iteration="iteration">
				<f:for each="{element}" key="elementType" as="elementData">
					<f:if condition="{0: elementType} == {0: 'content'}">
						<flux:grid.row>
							<flux:grid.column name="{elementData.id}" label="Content: {elementData.id}">
								<flux:form.content name="{elementData.id}" />
							</flux:grid.column>
						</flux:grid.row>
					</f:if>
				</f:for>
			</f:for>
		</flux:grid>
		<flux:form.sheet name="elements">
			<flux:form.section name="elements">
				<flux:form.object name="element">
					<flux:field.file name="image" showThumbnails="1" />
					<flux:field.checkbox name="caption" default="1" />
					<flux:field.input name="subheader" />
					<flux:field.input name="header" />
					<flux:field.text name="text" />
					<flux:field.input name="linkText" />
					<flux:field.input name="link">
						<flux:wizard.link />
					</flux:field.input>
				</flux:form.object>
			</flux:form.section>
		</flux:form.sheet>
	</flux:form>
</f:section>

<f:section name="Preview">
	<h4>Carousel</h4>
	<p>Elements: {elements -> f:count()}</p>
	<flux:widget.grid />
</f:section>

<f:section name="Main">
	<div id="{settings.carousel.id}" class="{settings.carousel.id} carousel slide" data-interval="{settings.carousel.interval}"{f:if(condition: settings.carousel.autostart, then: ' data-ride="carousel"')}>
		<f:if condition="{settings.carousel.quickselect}">
			<ol class="carousel-indicators">
				<f:for each="{elements}" as="image" iteration="iteration">
					<li data-target="#{settings.carousel.id}" data-slide-to="{iteration.index}" class="{f:if(condition: iteration.isFirst, then: 'active')}">
					</li>
				</f:for>
			</ol>
		</f:if>
		<div class="carousel-inner">
			<f:for each="{elements}" as="element" iteration="iteration">
				<div class="item{f:if(condition: iteration.isFirst, then: ' active')}">
					<v:media.image src="{element.element.image}" alt="slide"/>
					<f:if condition="{element.element.caption}">
						<f:if condition="{settings.carousel.addContainerBeforeContent}">
							<f:then>
								<div class="container">
									<f:render section="renderContent" arguments="{_all}" />
								</div>
							</f:then>
							<f:else>
								<f:render section="renderContent" arguments="{_all}" />
							</f:else>
						</f:if>
					</f:if>
				</div>
			</f:for>
		</div>
		<a class="carousel-control left" href="#{settings.carousel.id}" data-slide="prev"><span class="icons icon-t3-slider-arrow-left"></span></a>
		<a class="carousel-control right" href="#{settings.carousel.id}" data-slide="next"><span class="icons icon-t3-slider-arrow-right"></span></a>
	</div>
</f:section>
</div>


<f:section name="renderContent">
	<div class="{f:if(condition:settings.carousel.overrideContentWrapDivClass, then: settings.carousel.overrideContentWrapDivClass, else: 'carousel-caption')}">
		<f:if condition="{settings.carousel.changeOrderOfHeaders}">
			<f:then>
				<f:render section="renderHeader" arguments="{_all}" />
				<f:render section="renderSubheader" arguments="{_all}" />
			</f:then>
			<f:else>
				<f:render section="renderSubheader" arguments="{_all}" />
				<f:render section="renderHeader" arguments="{_all}" />
			</f:else>
		</f:if>
		<f:if condition="{element.element.text}">
			<p><f:format.raw>{element.element.text}</f:format.raw></p>
		</f:if>
		<f:if condition="{element.element.link}">
			<v:link.typolink configuration="{parameter: element.element.link, ATagParams: 'class=\"btn btn-default\"'}" >
				<span><f:format.raw>{element.element.linkText}</f:format.raw></span>
			</v:link.typolink>
		</f:if>
	</div>
</f:section>
<f:section name="renderHeader">
	<f:if condition="{element.element.header}">
		<f:if condition="{settings.carousel.noHeaderOneOnFirstSlide}">
			<f:then>
				<h2><f:format.raw>{element.element.header}</f:format.raw></h2>
			</f:then>
			<f:else>
				<f:if condition="{iteration.isFirst}">
					<f:then>
						<h1><f:format.raw>{element.element.header}</f:format.raw></h1>
					</f:then>
					<f:else>
						<h2><f:format.raw>{element.element.header}</f:format.raw></h2>
					</f:else>
				</f:if>
			</f:else>
		</f:if>
	</f:if>
</f:section>
<f:section name="renderSubheader">
	<f:if condition="{element.element.subheader}">
		<h3><f:format.raw>{element.element.subheader}</f:format.raw></h3>
	</f:if>
</f:section>
