{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace v=Tx_Vhs_ViewHelpers}

<f:layout name="Content" />

<f:section name="Configuration">
	<flux:form
		 wizardTab="pxa-generic-content-templates"
		 id="contact"
		 icon="{v:extension.path.resources(path: 'Icons/pxa.gif')}">

		<flux:field.input name="label_number" />
		<flux:field.input name="number" eval="nospace" />
		<flux:field.input name="label_email" />
		<flux:field.input name="email" />
	</flux:form>
</f:section>

<f:section name="Preview">
	<p>{number}</p>
	<p>{email}</p>
</f:section>

<f:section name="Main">
	<ul class="nav contact-links" >
		<f:if condition="{number}">
			<li><p><span class="icons icon-t3-mobile"></span> <span><f:format.raw>{label_number}</f:format.raw></span> <a href="tel:{number}">{number}</a></p></li>
		</f:if>
		<f:if condition="{email}">
			<li><p><span class="icons icon-t3-mail"></span> <span><f:format.raw>{label_email}</f:format.raw></span><v:link.typolink configuration="{parameter: 'mailto:{email}'}" /></p></li>
		</f:if>
	</ul>
</f:section>
