{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace v=Tx_Vhs_ViewHelpers}

<f:layout name="Content" />

<f:section name="Configuration">
</f:section>

<f:section name="Preview">
	<h3>Warning!</h3>
	<p>No "Fluid Content Type" is selected.</p>
</f:section>

<f:section name="Main">
	<v:security.allow anyFrontendUser="false" anyBackendUser="true">
		<f:then><p style="color:red;"><f:translate key="flux.error.noFluidContentTypeSelected" extensionName="pxa_generic_content"></f:translate></p></f:then>
		<f:else><!-- fluidcontenttype is not selected --></f:else>
	</v:security.allow>
</f:section>
