{namespace v=Tx_Vhs_ViewHelpers}
{namespace flux=FluidTYPO3\Flux\ViewHelpers}

<f:layout name="Content" />

<div xmlns="http://www.w3.org/1999/xhtml"
	 xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
	 xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

<f:section name="Configuration">
	<flux:form
		 wizardTab="pxa-generic-content-layouts"
		 id="grid"
		 icon="{v:extension.path.resources(path: 'Icons/pxa.gif')}">

		<flux:form.sheet name="options">
			<flux:field.input name="wrapper" />
			<flux:field.checkbox name="container" enabled="1" default="1"/>
			<flux:field.checkbox name="containerFluid" />
		</flux:form.sheet>

		<f:comment><!-- Make sure record is saved before adding children --></f:comment>
		<f:if condition="{record.uid} > 0">
			<f:then>
				<flux:form.sheet name="children">
					<flux:form.section name="children">
						<flux:form.object name="child">
							<flux:field.select name="md" items="1,2,3,4,5,6,7,8,9,10,11,12,hidden" default="12" />
							<flux:field.input name="additionalColClass" />
						</flux:form.object>
					</flux:form.section>
				</flux:form.sheet>
			</f:then>
			<f:else>
				<flux:form.sheet name="saveFirst">
				</flux:form.sheet>
			</f:else>
		</f:if>
		<flux:grid>
			<flux:grid.row>
				<f:for each="{children}" as="child" iteration="iteration">
					<v:var.set name="width" value="{child.child.md}" />
					<v:var.set name="percent" value="{width  -> v:math.division(b: 12) -> v:math.product(b: 100) -> v:math.round(decimals: 2)}" />
					<flux:grid.column name="{child.child.id}" label="{percent}%" style="width: {percent}%; padding-right:5px;">
						<flux:form.content name="{child.child.id}" />
					</flux:grid.column>
				</f:for>
			</flux:grid.row>
		</flux:grid>
	</flux:form>
</f:section>

<f:section name="Main">
	<f:if condition="{wrapper}">
		<div class="{wrapper}">
	</f:if>
	<f:if condition="{container}">
		<div class="container">
	</f:if>
	<f:if condition="{containerFluid}">
		<div class="container-fluid">
	</f:if>
	<div class="row">
		<f:for each="{children}" as="child" iteration="iteration">
			<f:if condition="{child.child.md} == 'hidden' ">
				<f:then>
					<v:var.set name="md" value="{child.child.md}-md" />
				</f:then>
				<f:else>
					<v:var.set name="md" value="col-md-{child.child.md}" />
				</f:else>
			</f:if>
			<div class="{md} {f:if(condition: child.child.additionalColClass, then: '{child.child.additionalColClass}')}">
				<flux:content.render area="{child.child.id}" />
			</div>
		</f:for>
	</div>
	<f:if condition="{containerFluid}">
		</div>
	</f:if>
	<f:if condition="{container}">
		</div>
	</f:if>
	<f:if condition="{wrapper}">
		</div>
	</f:if>
</f:section>

<f:section name="Preview">
	<flux:widget.grid />
</f:section>

</div>
