{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace v=Tx_Vhs_ViewHelpers}
{namespace pxa=Tx_PxaCore_ViewHelpers}

<f:layout name="Content" />

<f:section name="Configuration">
	<flux:form
		 wizardTab="pxa-generic-content-special"
		 id="languageMenu"
		 icon="{v:extension.path.resources(path: 'Icons/pxa.gif')}">

		<flux:field.input name="class" />
		<flux:field.select name="languageMenuType" items="dropdown,list" default="dropdown" />
	</flux:form>
</f:section>

<f:section name="Preview">
	<h4>Language Menu</h4>
</f:section>

<f:section name="Main">
	<f:if condition="{languageMenuType} == 'dropdown' ">
		<v:page.languageMenu as="languages" hideNotTranslated="{settings.content.LanguageMenu.hideNotTranslated}"  defaultLanguageLabel="{settings.content.LanguageMenu.defaultLanguageLabel}"  defaultIsoFlag="{settings.content.LanguageMenu.defaultIsoFlag}">
			<div class="language-menu pxa-language-dropdown {class}">
				<ul class="language-nav" >
					<li class="dropdown">
						<f:for each="{languages -> v:iterator.filter(propertyName: 'current', filter: 1)}" as="activeLanguage">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class=" main-flag-icon flag-icon flag-icon-{activeLanguage.flag}"></span><span class="icons icon-t3-dropdown-arrow"></span><span class="caret"></span></a>
						</f:for>
						<ul class="dropdown-menu dropdown-menu-right">
							<f:for each="{languages}" as="language">
								<li><a href="{language.url}" class="{f:if(condition: '{language.active}', then: ' active')}"><span class="flag-icon flag-icon-{language.flag}"></span> {language.label}</a></li>
							</f:for>
						</ul>
					</li>
				</ul>
			</div>
		</v:page.languageMenu>
	</f:if>
	<f:if condition="{languageMenuType} == 'list' ">
		<v:page.languageMenu as="languages"  hideNotTranslated="{settings.content.LanguageMenu.hideNotTranslated}"  defaultLanguageLabel="{settings.content.LanguageMenu.defaultLanguageLabel}"  defaultIsoFlag="{settings.content.LanguageMenu.defaultIsoFlag}">
			<div class="language-menu pxa-language-list {class}">
				<ul class="language-nav" >
					<f:for each="{languages}" as="language">
						<li><a href="{language.url}" class="{f:if(condition: '{language.active}', then: ' active')}"><span class="flag-icon flag-icon-{language.flag}"></span> {language.flag}</a></li>
					</f:for>
				</ul>
			</div>
		</v:page.languageMenu>
	</f:if>
</f:section>




