{namespace v=Tx_Vhs_ViewHelpers}
{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace pxa=Tx_PxaCore_ViewHelpers}

<f:layout name="Content" />

<div xmlns="http://www.w3.org/1999/xhtml"
	 xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
	 xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

<f:section name="Configuration">
	<flux:form
		 wizardTab="pxa-generic-content-templates"
		 id="logoCarousel"
		 icon="{v:extension.path.resources(path: 'Icons/pxa.gif')}">

		<flux:field.input name="carouselInterval" default="5000" eval="int,trim" />
		<flux:field.input name="carouselId" default="{v:random.string(length: 8)}" />
		<flux:field.select name="itemsperpage" default="4" items="2,4,6" />
	</flux:form>
</f:section>

<f:section name="Preview">
</f:section>

<f:section name="Main">

	<v:switch value="{itemsperpage}">
		<v:case case="2" break="TRUE">
			<v:var.set name="imageCycle" value="{0: '1', 1: '2'}" />
			<v:var.set name="bootstrapColClass" value="col-xs-6 col-md-6" />
		</v:case>
		<v:case case="4" break="TRUE">
			<v:var.set name="imageCycle" value="{0: '1', 1: '2', 2: '3', 3: '4'}" />
			<v:var.set name="bootstrapColClass" value="col-xs-6 col-md-3" />
		</v:case>
		<v:case case="6" break="TRUE">
			<v:var.set name="imageCycle" value="{0: '1', 1: '2', 2: '3', 3: '4', 4: '5', 5: '6'}" />
			<v:var.set name="bootstrapColClass" value="col-xs-4 col-md-2" />
		</v:case>
	</v:switch>

	<f:if condition="{record.header}">
		<f:cObject data="{record}" typoscriptObjectPath="lib.stdheader" />
	</f:if>

	<div id="{carouselId}" class="carousel slide logo-carousel" data-ride="carousel" data-interval="{carouselInterval}" >
		<div class="carousel-inner">
			<f:if condition="{record.image} > 0">
				<f:for each='<pxa:fal field="image" uid="{record.uid}" />' as="img" iteration="item">
					<f:cycle values="{imageCycle}" as="itemsPerPageCycle">
						<f:if condition="{item.isFirst}">
							<div class="item active">
							<div class="row">
						</f:if>
						<div class="{bootstrapColClass} logo-carousel__item">
							<v:link.typolink configuration="{parameter: img.reference.link}">
								<f:image
									src="{img.reference.uid}"
									class="img-responsive"
									alt="<f:if condition='{img.reference.alternative}'><f:then>{img.reference.alternative}</f:then><f:else>{img.original.alternative}</f:else></f:if>"
									title="<f:if condition='{img.reference.title}'><f:then>{img.reference.title}</f:then><f:else>{img.original.description}</f:else></f:if>"
									treatIdAsReference="1"
								/>
							</v:link.typolink>
						</div>
						<f:if condition="{item.isLast}">
							<f:then>
								</div>
								</div>
							</f:then>
							<f:else>
								<f:if condition="{itemsPerPageCycle}=={itemsperpage}">
									<f:then>
										</div></div><div class="item"><div class="row">
									</f:then>
								</f:if>
							</f:else>
						</f:if>
					</f:cycle>
				</f:for>
			</f:if>
		</div>
		<f:if condition="{record.image}>{itemsperpage}">
			<f:then>
				<a class="carousel-control left" href="#{carouselId}" data-slide="prev"><span class="icons icon-t3-slider-arrow-left"></span></a>
				<a class="carousel-control right" href="#{carouselId}" data-slide="next"><span class="icons icon-t3-slider-arrow-right"></span></a>
			</f:then>
		</f:if>
	</div>
</f:section>
</div>
