{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace v=Tx_Vhs_ViewHelpers}
{namespace pxa=Tx_PxaCore_ViewHelpers}

<f:layout name="Content" />

<f:section name="Configuration">
	<flux:form
		 wizardTab="pxa-generic-content-special"
		 id="searchToggleButton"
		 icon="{v:extension.path.resources(path: 'Icons/pxa.gif')}">

		<flux:field.input name="class" />
	</flux:form>
</f:section>

<f:section name="Preview">
	<h4>Search Toggle Button</h4>
</f:section>

<f:section name="Main">
	<button type="button" class="pxa-search-toggle-button collapsed {class}" data-toggle="collapse" data-target="#pxa-search-collapse">
		<span class="icons icon-t3-search"></span>
		<span class="sr-only">Toggle search</span>
	</button>
</f:section>
