{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace v=Tx_Vhs_ViewHelpers}
{namespace pxa=Tx_PxaCore_ViewHelpers}

<f:layout name="Content" />

<f:section name="Configuration">
	<flux:form
		 wizardTab="pxa-generic-content-special"
		 id="searchForm"
		 icon="{v:extension.path.resources(path: 'Icons/pxa.gif')}">

		<flux:field.input name="class" />
		<flux:field.checkbox name="collapse" default="0"/>
	</flux:form>
</f:section>

<f:section name="Preview">
	<h4>Search Form</h4>
</f:section>

<f:section name="Main">
	<f:if condition="{collapse}">
		<f:then>
			<div id="pxa-search-collapse" class="pxa-main-search-collapse collapse {class}">
				<div class="container">
					<f:cObject typoscriptObjectPath="plugin.tx_pxasolr.quicksearch" />
				</div>
			</div>
		</f:then>
		<f:else>
			<div class="pxa-main-search {class}">
				<f:cObject typoscriptObjectPath="plugin.tx_pxasolr.quicksearch" />
			</div>
		</f:else>
	</f:if>
</f:section>
